/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font: 10px arial,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset */

#hd {
	background-image: url('/rtrigniter/images/header_background.png');
	height: 150px;
	margin: auto;
}

#hd p {
	width: 768px;
	margin: auto;
}

#wrapper {
	width: 768px;
	background-color: #d3d3d3;
	border-radius: 16px;
	position: relative;
	top: -50px;
	border: 1px solid black;
	margin: auto;
	padding: 0 0 10px 0;
}

#tagline {
	margin: 4px 0 0 0;
	position: relative;
	left: -2px;
}

#body {
	margin: 20px 0 0 60px;
}

#bodyFooter {
	margin: 20px 0 0 60px;
}

.rtrBackground {
	width: 200px;
	height: 353px;
	float: left;
	color: #fff;
	margin: 0 24px 0 0;
	border: 0;
	background-color: transparent;
	position: relative;
}

.rtrBackground h1 {
	font-size: 30px;
	margin: 20px;
	text-align:center;
}

.rtrBackground h2 {
	font-size: 20px;
	margin: 0 0 0 20px;
}

.rtrBackground h3 {
	font-size: 20px;
	margin: 10px 0 0 40px;
}

.rtrBackground ul {
	font-size: 20px;
	margin: 20px 20px;
	list-style-type: disc;
}

.rtrBackground li {
	margin: 10px 20px;
}

.rtrBackground select {
	width: 165px;
	margin: 10px 20px;
	font-size: 20px;
}

.rtrBackground input {
	width: 160px;
	margin: 10px 20px;
	font-size: 20px;
}

.rtrBackground .submitButton {
	background-color: transparent;
	border: 0;
	width: 160px;
	height: 65px;
	position: absolute;
	right: 20px;
	bottom: 10px;
	margin: 0;
}

#browseButton {
	background-image: url('/rtrigniter/images/rtr_browse_button_160_65.png');
}

#searchButton {
	background-image: url('/rtrigniter/images/rtr_search_button_160_65.png');
}

#createButton {
	background-image: url('/rtrigniter/images/rtr_create_button_160_66.png');
}


.bigBlackButton {
	width: 200px;
	height: 108px;
	float: left;
	color: #fff;
	margin: 0 24px 0 0;
	border: 0;
	font-size: 20px;
	background-image: url('/rtrigniter/images/rtr_black_button_200_108.png');
	background-color: transparent;
}

.bigBlackButton span {
	display: block;
}

.bigBlackButton span {
	font-size: 30px;
}

.linkButton {
	text-decoration: none;
}

.centerText {
	text-align: center;
}

.clearBoth {
	clear: both;
}

#browse {
	background-image: url('/rtrigniter/images/rtr_red_button1_200_353.png');
}

#search {
	background-image: url('/rtrigniter/images/rtr_red_button2_200_353.png');
}

#create {
	background-image: url('/rtrigniter/images/rtr_red_button3_200_353.png');
}

